OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
AI_SERVICE_DB_PATH=/home/anzicle/project/ai_service/ai_service.db
